.container .alert-block {
    margin: 15px 0 0;
}

.container .header h2 {
    line-height: 30px;
    margin: 15px 0;
}
.container .header .btn-group {
    margin: 0;
}
.container .header .btn-group .btn a {
    color: #888;
    text-decoration: none;
}
.container .header .btn-group .btn a:hover {
    color: #444;
    text-decoration: none;
}
.container .breadcrumb {
    margin: 15px 0;
}

.container .breadcrumb a {
    text-decoration: none;
}


.container form.table {
    margin: 0;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}

.home {
    padding: 150px;
}