<?php
/**
 *
 * PHP 5
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
 */

$cakeDescription = __d('cake_dev', 'CakePHP: the rapid development php framework');
?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo $title_for_layout; ?>
	</title>
	<?php
		echo $this->Html->meta('icon');

		//echo $this->Html->css('cake.generic');

		echo $this->Html->script('jquery-latest');
		echo $this->Html->script('bootstrap.min');
		echo $this->Html->css('bootstrap.min.css');
		echo $this->Html->css('manager.css');

		echo $this->fetch('meta');
		echo $this->fetch('css');
		echo $this->fetch('script');


		
	?>
</head>
<body>
	<header>
		<?php echo $this->element('navbar'); ?>
	</header>
	<div class="container">
		<div id="header">

		</div>
		<div id="content">

			<?php echo $this->Session->flash(); ?>

			<?php echo $this->fetch('content'); ?>
		</div>

	</div>
	<div id="footer" class="footer">
		<div class="container">
			<p>Webservice Licence PER 2013</p>
			<p>Réalisé par Nicolas Framery, Geoffrey Thenot, Cédric Guillas et Guillaume Zarb</p>
		</div>
	</div>
	<?php // echo $this->element('sql_dump'); // debug?>
</body>
</html>
